# Moves
MOVES_USER=moveuser
MOVES_PASSWORD=examplePassword

# Temp 
TEMPS_USER=tempuser
TEMPS_PASSWORD=examplePassword

# Sound 
SOUNDS_USER=sounduser
SOUNDS_PASSWORD=examplePassword

# Mysql DB
HOST=mysql
DATABASE=maze