# Moves
MOVES_USER=movimentos_user
MOVES_PASSWORD=movimentos_password

# Temp 
TEMPS_USER=temperatura_user
TEMPS_PASSWORD=temperatura_password

# Sound 
SOUNDS_USER=som_user
SOUNDS_PASSWORD=som_password

# Mysql DB
HOST=mysql
DATABASE=maze

# MQTT
MQTT_BROKER = "broker.hivemq.com"
MQTT_PORT = 1883