body {
    font-family: 'Segoe UI', Arial, sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
}

.container {
    width: 90%;
    max-width: 1000px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.title {
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin: 0;
}

.form-border {
    border: 3px solid #000;
    border-radius: 4px;
    padding: 30px;
    background-color: #fff;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 30px;

    border: 3px solid #333;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    border-collapse: collapse;
}

.full-width {
    grid-column: span 2;
}

.input-group-desc {
    display: flex;
    flex-direction: column;
    gap: 8px;
    grid-column: 1 / span 2;
    width: 100%;
}

.input-group-desc input{
    padding: 10px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

.input-group-desc label {
    font-size: 18px;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.input-group label {
    font-size: 18px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-size: 16px;
}

.button-container {
    display: flex;
    gap: 10px;
    margin-top: 25px;
    justify-content: center;
}
.button-container button {
    padding: 8px 30px;
    border: none;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;

    color: white;
}

.cancel {
    background-color: #aaaaaa;
}

.save {
    background-color: #444;
}